* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-width: 100%;
  min-height: 100vh; }

body {
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bg.jpg") 100% 100%; }

.container {
  padding: 25px;
  width: 1000px; }
  @media (max-width: 1050px) {
    .container {
      width: 100%; } }
